@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 10;
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.custom-prev-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-next-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
